/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/storage/*
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
_ide_helper.php
.phpstorm.meta.php

public/js/app.js
public/js/app.js.LICENSE.txt
public/js/services.js
public/js/categories.js
public/js/offers.js
public/js/portfolio.js
public/js/price.js
public/js/contacts.js

public/css/app.css
public/css/index.css
public/css/main.css
public/css/services.css
public/css/categories.css
public/css/categoriesMain.css
public/css/offers.css
public/css/portfolio.css
public/css/price.css
public/css/contacts.css

public/uploads/**/*.png
public/uploads/**/*.jpg
public/uploads/**/*.gif
public/mix-manifest.json
/nbproject/private/
